**/*.ipynb_checkpoints/
**/__pycache__/
.ropeproject/*
*/.ropeproject/*
*/*/.ropeproject/*
*/*/*/.ropeproject/*
*/.pytest_*/*
eumetsat_config.yml
__pycache__/
data/
build/
sdist/
dist/
*.egg-info/
env/
venv/
.coverage
*.log
docs/_build/
*.egg
*.eggs/
*.so
*.swp
