attr
package-outlier
chart_studio
backcall
bleach
boto3
botocore
branca
certifi
cffi
cftime
chardet
click
click-plugins
cligj
colour
cryptography
cycler
decorator
defusedxml
descartes
docutils
entrypoints
ephem
Fiona
folium
GDAL
geographiclib
geopandas
geopy
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jmespath
json5
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
munch
nbconvert
nbformat
netCDF4
notebook
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyOpenSSL
pyorbital
pyparsing
pyproj
PyQt5
PyQt5-sip
PyQtWebEngine
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
Rtree
s3transfer
seaborn
Send2Trash
Shapely
simplekml
six
smmap
statsmodels
terminado
testpath
tornado
traitlets
urllib3
vincent
wcwidth
webencodings
widgetsnbextension
xmltodict
zipp
space-track-api
rioxarray
scipy
numpy
